doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Marying Brent | May 19, 2018
		link(rel='shortcut icon', type='image/png', href='/images/favicon-32x32.png', sizes='32x32')
		link(rel='shortcut icon', type='image/png', href='/images/favicon-16x16.png', sizes='16x16')
		link(rel='stylesheet', href=clientStylesPath)
		
	body
		#AppContainer
		
		script(src='/js/react.min.js')
		script(src='/js/react-dom.min.js')
		
		script(src=clientScriptPath)
		
		if env.NODE_ENV == 'development'
			script(src='//localhost:35729/livereload.js')
		