@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.Kalam() {
	font-family: 'Euphoria Script', cursive;
	font-weight: 400;
}

.PlayfairDisplay() {
	font-family: 'Playfair Display', serif;
}
